In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('amd_corpus_POSTprocessed.csv')
df2 = pd.read_csv('intc_corpus_POSTprocessed.csv')
df3 = pd.read_csv('mlnx_corpus_POSTprocessed.csv')
df4 = pd.read_csv('nvda_corpus_POSTprocessed.csv')
df5 = pd.read_csv('txn_corpus_POSTprocessed.csv')

In [9]:
#new_df = pd.DataFrame()
new_df = pd.concat([df1,df2,df3,df4,df5],ignore_index=True)

In [7]:
new_df.tail()

      Unnamed: 0                                               Text Company
3629        1010  yes ill give comment that far expectation ment...      TI
3630        1011  course end market standpoint say industrial au...      TI
3631        1012  talk utilization factory loading there signifi...      TI
3632        1013  let take that thank cue that capital managemen...      TI
3633        1014  right let finish comment key item remember rem...      TI

In [12]:
new_df.drop('Unnamed: 0',axis=1,inplace=True)

In [14]:
new_df.to_csv('all_corpus.csv')